.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  color: #000;
  background: #fff;
}

.page__header {
  grid-column: 1 / -1;
}
.page__form {
  grid-column: 1 / -1;
}
.page__list {
  grid-column: 1;
}
.page__filter {
  grid-column: 2;
}

.page__stat {
  grid-column: 1 / -1;
}

.todo-create {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 30px;
}
.todo-create input {
  grid-column: span 4;
  display: block;
  padding: 6px 12px;
}
.todo-create button {
  grid-column: span 2;
  display: block;
  padding: 6px 12px;
}

.tasks-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.task-item b {
  display: block;
  grid-column: 1 / -1;
}

.task-item i {
  display: block;
  grid-column: 1;
  grid-row: 2;
}

.task-item__done {
  grid-row: 3;
  grid-column: 1;
}

.task-item__delete {
  grid-column: 2;
  grid-row: 3;
}

.task-item--done {
  background-color: #ececec;
}
.task-item--done b {
  text-decoration: line-through;
  opacity: 0.6;
}

.tagfilter {
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  margin: -5px;
}

.tagfilter__item {
  margin: 5px;
  padding: 4px 8px;
  cursor: pointer;
}
.tagfilter__item--clear {
  width: 100%;
}
